.container{margin-left:0;margin-top:0;width:auto;padding:20px 20px 0 20px}.detail-page,.form-page,.search-page{padding:0}.doc-content{min-width:1200px}.bui-stdmod-body{overflow-x:hidden;overflow-y:auto}.form-info-ul{padding:7px 12px;background-color:#eee;margin-bottom:18px;border:1px solid #ddd;border-radius:3px}.table-fix{table-layout:fixed}.table-fix td{word-wrap:break-word}.over{display:none;position:absolute;top:22px;left:0;width:100%;height:100%;background-color:#f5f5f5;opacity:.5;z-index:1000}.layout{display:none;position:absolute;top:40%;left:40%;width:20%;height:20%;z-index:1001;text-align:center}.div-row .control-group{padding-left:30px}.div-row .control-text{width:240px}.div-row .controls input[type=text]{width:300px}.controls-textare{height:auto!important;margin-bottom:18px}.controls-textare .valid-text{position:absolute}.select-time{background:url(../img/calendar-200-300.gif) no-repeat right -130px #fff}.img-file{display:none}.input-imgButton{margin-right:10px;margin-bottom:5px}.div-img-forward{float:right;display:none}.div-img-forward input{width:400px}.img-controls{height:auto!important}.displayDiv{margin-top:2px;width:240px}.div-content{padding-left:30px;width:1200px}

.space-row {
	line-height: 44px;
	margin-left: 0px !important;
}

.space-row .valid-text {
	line-height: 0px;
}

.space-span {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 10px;
	line-height: initial;
}

.space-span .x-field-error, .space-span .valid-text {
	position: absolute;
}

form .hidePrice {
	border: none;
	margin-top: 1px;
	background-color: transparent;
}

.hide-price-div {
	display: none;
}

			
table .valid-text {
	position: absolute;
}
			